.navbar{
    background-color: #fffdfd !important;
}
.nav-link{
    color: #878383
}
.loginProfile{
    display: contents;
}
.profile{
    display: inline-grid;
    line-height: 1.2rem;
    text-align: center;
}
.profile-wrapper{
    margin-right: 12px;
}
.profile-img{
    border: 1px  solid #ccc;
    margin-left: 5px;
}