.cancel-button{
    display: inline-block;
    color: #95af29;
    border: 1px solid #ccc;
    margin-right: 5px;
}
.button-footer{
    float:right;
}
.resume-source{
   display: contents;
   .other-source{
       float: right;
   }
}

.close{
    float: right;
padding: 0px;
}